@import "tailwindcss";

@theme {
  --animate-float-slow: float 3s ease-in-out infinite;
  --animate-float-fast: float 2s ease-in-out infinite;

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
  }
}

:root {
  background-color: #F5F5DC;
  color: #1e293b;
}